@model Student
<h1 class="alert alert-success text-center"> Add New Student</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Students" asp-action="AddNew" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="FullName"></label>
        <input type="text" asp-for="FullName"class="form-control"/>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Faculty"></label>
        <input type="text" asp-for="Faculty" class="form-control" />
        <span asp-validation-for="Faculty" class="text-danger"></span>
    </div>
    <div>
         <label asp-for ="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="JoinDate"></label>
        <input asp-for="JoinDate" class="form-control" />
        <span asp-validation-for="JoinDate" class="text-danger"></span>
    </div>
    <div>
         <label asp-for="IsActive"></label>
         <input asp-for="IsActive"/>
     </div>
    <div>
            <label asp-for="ImagePath"></label>
            <input type="file" name="imageFormFile" id="imageFormFile" accept=".png,.jpg" class="form-control"
                   onchange="SetImgSrc()" />
     </div>

    <button type="submit" class="btn btn-primary mt-4">Add</button>
</form>
<img src="" id="studImage" class="col-4 card" style=" object-fit:contain" />
</div>

<a asp-controller="students" asp-action="GetIndexView">Back to list</a>

@section Scripts
{
    <script>
        function SetImgSrc() {
    
            document.getElementById("studImage").src = window.URL.createObjectURL(document.getElementById
                ("imageFormFile").files[0]);
        }
    </script>

}