<h1 style="background-color:azure;color:blueviolet;text-align:center">Welcome To Our University Registering Syetem !</h1>

@{
    string UniversityName = "Our University";
    string email = "infoOurUniversity@uni.com";
    string address = "10th Street 6 October ";
}

<p>Welcome to @UniversityName! You can contact us by email @email or visit us at @address.</p>





